/* :root{
    --main-color: #5f0092;
} */
p{
    margin: 0px;
}
body{
    background-color: rgb(205, 202, 202);
}
#siteName{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#container{
}
#header{
    color: white;
    /* background-color: var(--main-color); */
    background-color: #c8c2c240;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
#contentWrapper{
    background-color: #ffffff;
    backdrop-filter: blur(20px);
    /* display: flex;
    flex-wrap: wrap; */
    /* min-height: 76vh; */
    /* min-height: 55vh; */
    min-height: 60vh;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 20px;
    row-gap: 40px;
    column-gap: 80px;
}
#contentWrapper p{
    align-self: center;
    max-width: 577px;

}
.sideItem{
    /* padding: 20px; */
}
.inputWrapper{
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(80, 80, 80);
    box-sizing: border-box;
    /* column-gap: 5px; */
}
.inputWrapper input{
    font-size: 0.9rem;
    outline: none;
    padding: 20px;
    width: 100%;
    border: none;
}
label{
    color: gray;
}
.inputWrapper i{
    padding: 23px;
    font-size: 1rem;
}
.inputWrapper i{
    background-color: var(--main-color);
    color: white;
}


#formWrapper{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.sugg-li{
    
}
.sugg-li img{
    width: 34px;
}
#continueBtn{
    box-shadow: 2px 2px 10px #939399;
}