<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Add New Software{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <div class="container my-3">
        {% block main %}
        <h1>Add new {{item}}</h1>
        <form action="" method="post" enctype="multipart/form-data" id="form">
            <div class="mb-3">
                <label for="nameInput" class="form-label">{{item}} name</label>
                <input type="text" class="form-control requiredInput" id="nameInput" name="name" required>
            </div>

            <div class="mb-3">
                <label for="">Platforms available</label>
                {% for pf in all_db_platforms %}
                <div class="form-check form-switch m-1">
                    <input class="form-check-input platformInput" type="checkbox" role="switch"
                        id="flexSwitchCheckChecked" name="platform{{pf.name}}" myvalue="{{pf.name}}">
                    <label class="form-check-label" for="flexSwitchCheckChecked">{{pf.name}}</label>

                    <div class="mb-3" id="div-for{{pf.name}}" style="display: none;">
                        <label for="">For {{pf.name}}</label>
                        <div class="form-check form-switch m-1">
                            <input class="form-check-input forInput {{pf.name}}" type="checkbox" role="switch"
                                id="flexSwitchCheckChecked" name="for{{pf.name}}" platform="{{pf.name}}">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Key</label>
                            <div class="mb-3" id="div-keyinputfor{{pf.name}}" style="display: none;">
                                <label for="nameInput" class="form-label">Key for {{pf.name}}</label>
                                <input type="text" class="form-control requiredInput" id="keyinputfor{{pf.name}}"
                                    name="keyfor{{pf.name}}">
                            </div>
                        </div>
                        <div class="form-check form-switch m-1">
                            <input class="form-check-input forInputCrack {{pf.name}}" type="checkbox" role="switch"
                                id="flexSwitchCheckChecked" name="crackfor{{pf.name}}" platform="{{pf.name}}">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Crack</label>
                            <div class="mb-3" id="div-fileinputfor{{pf.name}}" style="display: none;">
                                <label for="formFile" class="form-label">Upload .zip file</label>
                                <input class="form-control requiredInput" type="file" id="fileinputfor{{pf.name}}"
                                    name="filefor{{pf.name}}">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="form-check form-switch m-1">
                    <input class="form-check-input platformInput" type="checkbox" role="switch"
                        id="flexSwitchCheckChecked"name="platformWindows" myvalue="Windows">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Windows</label>

                    <div class="mb-3" id="div-forWindows" style="display: none;">
                        <label for="">For Windows</label>
                        <div class="form-check form-switch m-1">
                            <input class="form-check-input forInput Windows" type="checkbox" role="switch" id="flexSwitchCheckChecked"name="forWindows" platform="Windows">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Key</label>
                            <div class="mb-3" id="div-keyinputforWindows" style="display: none;">
                                <label for="nameInput" class="form-label">Key for Windows</label>
                                <input type="text" class="form-control requiredInput" id="keyinputforWindows" name="keyforWindows" required>
                            </div>
                        </div>
                        <div class="form-check form-switch m-1">
                            <input class="form-check-input forInputCrack Windows" type="checkbox" role="switch"
                                id="flexSwitchCheckChecked" name="crackforWindows" platform="Windows">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Crack</label>
                            <div class="mb-3" id="div-fileinputforWindows" style="display: none;">
                                <label for="formFile" class="form-label">Upload .zip file</label>
                                <input class="form-control requiredInput" type="file" id="fileinputforWindows"
                                    name="fileforWindows" required>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-check form-switch m-1">
                    <input class="form-check-input platformInput" type="checkbox" role="switch"
                        id="flexSwitchCheckChecked" name="platformAndroid" myvalue="Android">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Android</label>

                    <div class="mb-3" id="div-forAndroid" style="display: none;">
                        <label for="">For Android</label>
                        <div class="form-check form-switch m-1">
                            <input class="form-check-input forInput Android" type="checkbox" role="switch"
                                id="flexSwitchCheckChecked"name="forAndroid" platform="Android">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Key</label>
                            <div class="mb-3" id="div-keyinputforAndroid" style="display: none;">
                                <label for="nameInput" class="form-label">Key for Android</label>
                                <input type="text" class="form-control requiredInput" id="keyinputforAndroid"
                                    name="keyforAndroid" required>
                            </div>
                        </div>
                        <div class="form-check form-switch m-1">
                            <input class="form-check-input forInputCrack Android" type="checkbox" role="switch"
                                id="flexSwitchCheckChecked" name="crackforWindows" platform="Android">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Crack</label>
                            <div class="mb-3" id="div-fileinputforAndroid" style="display: none;">
                                <label for="formFile" class="form-label">Upload .zip file</label>
                                <input class="form-control requiredInput" type="file" id="fileinputforAndroid"
                                    name="fileforAndroid" required>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-check form-switch m-1">
                    <input class="form-check-input platformInput" type="checkbox" role="switch"
                        id="flexSwitchCheckChecked" name="platformMac" myvalue="Mac">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Mac</label>

                    <div class="mb-3" id="div-forMac" style="display: none;">
                        <label for="">For Mac</label>
                        <div class="form-check form-switch m-1">
                            <input class="form-check-input forInput Mac" type="checkbox" role="switch"
                                id="flexSwitchCheckChecked"name="Mac" platform="Mac">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Key</label>
                            <div class="mb-3" id="div-keyinputforMac" style="display: none;">
                                <label for="nameInput" class="form-label">Key for Mac</label>
                                <input type="text" class="form-control requiredInput" id="keyinputforMac" name="keyforMac"
                                    required>
                            </div>
                        </div>
                        <div class="form-check form-switch m-1">
                            <input class="form-check-input forInputCrack Mac" type="checkbox" role="switch"
                                id="flexSwitchCheckChecked" name="crackforWindows" platform="Mac">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Crack</label>
                            <div class="mb-3" id="div-fileinputforMac" style="display: none;">
                                <label for="formFile" class="form-label">Upload .zip file</label>
                                <input class="form-control requiredInput" type="file" id="fileinputforMac" name="fileforMac"
                                    required>
                            </div>
                        </div>
                    </div>

                </div> -->
            </div>

            <div id="for-container">





            </div>

            <div class="mb-3">
                <label for="iconInput" class="form-label">Icon Link</label>
                <input type="text" class="form-control requiredInput" id="iconInput" name="imgSrc" required>
            </div>
            <div class="mb-3">
                <label for="descInput" class="form-label">Description</label>
                <textarea class="form-control requiredInput" id="descInput" rows="3" name="desc" required></textarea>
            </div>
            <button id="submitBtn" type="button">Submit</button>
        </form>
        {% endblock main %}
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/7d3f73a100.js" crossorigin="anonymous"></script>
<script>
    let platformInputs = document.querySelectorAll(".platformInput");
    let forInputs = document.querySelectorAll(".forInput");
    let forInputCracks = document.querySelectorAll(".forInputCrack");
    let form = document.getElementById("form");
    let requiredInputs = document.querySelectorAll(".requiredInput");
    platformInputs.forEach(input => {
        input.addEventListener("change", (e) => {
            if (input.checked) {
                document.getElementById(`div-for${input.getAttribute("myvalue")}`).style.display = "block";
            }
            else {
                document.getElementById(`div-for${input.getAttribute("myvalue")}`).style.display = "none";
            }
        })
    });

    forInputs.forEach(input => {
        input.addEventListener("change", (e) => {
            if (input.checked) {
                document.getElementById(`div-keyinputfor${input.getAttribute("platform")}`).style.display = "block";
                document.getElementById(`div-keyinputfor${input.getAttribute("platform")}`).required = true;
            }
            else {
                document.getElementById(`div-keyinputfor${input.getAttribute("platform")}`).style.display = "none";
                document.getElementById(`div-keyinputfor${input.getAttribute("platform")}`).required = true;
            }
        })
    });

    forInputCracks.forEach(input => {
        input.addEventListener("change", (e) => {
            if (input.checked) {
                document.getElementById(`div-fileinputfor${input.getAttribute("platform")}`).style.display = "block";
                document.getElementById(`div-fileinputfor${input.getAttribute("platform")}`).required = true;
            }
            else {
                document.getElementById(`div-fileinputfor${input.getAttribute("platform")}`).style.display = "none";
                document.getElementById(`div-fileinputfor${input.getAttribute("platform")}`).required = true;
            }
        })
    });

    function isPlatformSelected() {
        let selectedPlatforms = [];
        platformInputs.forEach(platformInput => {
            console.log("inside for loop")
            if (platformInput.checked) {
                console.log("inside if")
                selectedPlatforms.push(platformInput.getAttribute("myvalue"));
            }
        });
        console.log(`length of selected platfroms is ${selectedPlatforms.length}`)
        if (selectedPlatforms.length == 0) {
            return false
        } else {
            return selectedPlatforms
        }
    }

    function isForsSelected(platfrom) {
        let selectedFors = [];
        document.querySelectorAll(`.forInput.${platfrom}, .forInputCrack.${platfrom}`).forEach(forInput => {
            if (forInput.checked) {
                nameTag = forInput.getAttribute("name");
                console.log(`nametag is ${nameTag}`);
                if (nameTag.startsWith("key")) {
                    selectedFors.push(document.getElementById(`keyinputfor${platfrom}`))
                } else {
                    selectedFors.push(document.getElementById(`fileinputfor${platfrom}`))
                }
            }
        });
        if (selectedFors.length == 0) {
            return false
        } else {
            console.log("selected fors are not []")
            return selectedFors
        }
    }

    function validateRequiredInputs() {
        let response = true;
        let requiredInputsArray = Array.from(requiredInputs);
        requiredInputsArray.reverse();
        requiredInputsArray.forEach(element => {
            if (!(element.checkValidity())) {
                element.reportValidity();
                response = false;
            }
        });
        return response;
    }

    document.getElementById("submitBtn").addEventListener("click", (event) => {
        // event.preventDefault();
        console.log("Entered the submit button event listener");
        if (isPlatformSelected()) {
            console.log("platform is selected");
            let selectedPlatforms = isPlatformSelected();
            selectedPlatforms.forEach(selectedPlatform => {
                let selectedFors = isForsSelected(selectedPlatform);
                if (selectedFors) {
                    console.log("form is submitting ...");
                    if (validateRequiredInputs()) {
                        console.log("form is valid")
                        form.submit();
                    }
                    else {
                        console.log("validateRequiredInputs func retured false")
                    }
                } else {
                    window.alert(`Please select Key or Crack for ${selectedPlatform}`)
                }
            });
        } else {
            window.alert("Please select a platform");
        }
    })
</script>
{% block js %}{% endblock js %}

</html>