{% extends 'base.html' %}

{% block title %}Add software - Admin{% endblock title %}

{% block desc %}Add a new software in the database{% endblock desc %}

{% block css %}

<style>

main{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 5vw;
}

.left{
    /* width: 50%; */
    display: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left img{
    width: 35vw;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
    row-gap: 5vh;
}

.right h1{
    font-size: 3vw;
}

form{
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 90%;
    border-radius: 8px;
}

form p{
    align-self: center;
}

form p span{
    color: gray;
}

form p a{
    color: blue;
    text-decoration: none;
}

.inputFieldWrapper{
    padding: 15px;
    display: flex;
    align-items: center;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    column-gap: 20px;
}

.inputFieldWrapper i{
    color: #1b1a6a;
}

.inputField{
    background: none;
    outline: none;
    border: none;
    width: 100%;
    color: black;
}

select.inputField option{
    color: black;
}

label{
    color: black;
}

</style>

{% endblock css %}

{% block nav %}{% endblock nav %}

{% block header %}{% endblock header %}

{% block main %}

<main>
    <!-- <section class="left">
    
    <img src="/static/img/logos/Png/Influx global logo Final Files-07.png" alt="">

    </section> -->
    <section class="right">
    <!-- <h1 class="textCenter"> -->
    <!-- <a style="text-decoration: none;" href="/">InfluxGlobal.com</a> -->
    <!-- </h1> -->
    <h1 class="textCenter">Add new software</h1>
        <form action="" method="post" id="form">
            
            <label for="noOfTicketsInput">Name</label>
            <div class="inputFieldWrapper">
                <!-- <i class="fa-solid fa-ticket"></i> -->
                <input class="inputField inputFieldJs" type="text" placeholder="Software name" required id="noOfTicketsInput" name="name" value="{{sw.name}}">
            </div>
            <label for="keyInput">Key</label>
            <div class="inputFieldWrapper">
                <!-- <i class="fa-solid fa-ticket"></i> -->
                <input class="inputField inputFieldJs" type="text" placeholder="Product Key" required id="keyInput" name="key" value="{{sw.key}}">
            </div>
            <label for="tagsInput">Tags</label>
            <div class="inputFieldWrapper">
                <!-- <i class="fa-solid fa-ticket"></i> -->
                <input class="inputField inputFieldJs" type="text" placeholder="Keywords seperated by commas" required id="tagsInput" name="tags" value="{{sw.tags}}">
            </div>

            <!-- <div class="inputFieldWrapper">
                <i class="fa-solid fa-globe"></i>
                <select class="inputField" name="placement" id="countryCodeSelector" required>
                    <option value="" class="selected">Select movie category</option>
                    <option value="24 hour" selected>24 Hour</option>
                    <option value="weekly">Weekly</option>
                    <option value="pre sale">Pre Sale</option>
                </select>
            </div> -->

            <label for="imgSrcInput">Image Link</label>
            <div class="inputFieldWrapper">
                <!-- <i class="fa-solid fa-link"></i> -->
                {% if sw.imgSrc == None %}
                <input class="inputField inputFieldJs" type="text" placeholder="Image link (optional)" id="imgSrcInput" name="imgSrc">
                {% else %}
                <input class="inputField inputFieldJs" type="text" placeholder="Image link (optional)" id="imgSrcInput" name="imgSrc" value="{{sw.imgSrc}}">
                {% endif %}
            </div>

            <label for="descInput">Description</label>
            <div class="inputFieldWrapper">
                <!-- <i class="fa-solid fa-link"></i> -->
                <textarea class="inputField inputFieldJs" placeholder="Description" id="descInput" name="desc" cols="30" rows="10">{{sw.desc}}</textarea>
            </div>
            <button type="submit" class="btn btnNormal" id="submitBtn">Save</button>
            <!-- <p><span>Already Registered? <a href="/login">Login Here</a></span></p> -->
        </form>
    </section>
</main>

{% endblock main %}

{% block footer %}{% endblock footer %}

{% block js %}

<script>

let pageForm = document.getElementById('form');
let countryCodeSelector = document.getElementById('countryCodeSelector');

let referalCodeInput = document.getElementById('referalCodeInput');
let noOfTicketsInput = document.getElementById('noOfTicketsInput');

let submitBtn = document.getElementById('submitBtn');

countryCodeSelector.setCustomValidity("Please select a country");

let inputsList = [referalCodeInput, noOfTicketsInput]

function isAllFieldsFilled(){
    let response = true
    inputsList.forEach(inputElement => {
        if(!(inputElement.checkValidity())){
            console.log('1st if of isallfiledsfilled')
            inputElement.reportValidity();
            response = false
        }
    });
    if (countryCodeSelector.value == ""){
        console.log('2nd if of isallfiledsfilled')
        window.alert("Please select movie category")
        response = false
    }
    return response
}

function validateForm(){
    if (isAllFieldsFilled()) {
        return true
    } else {
        return false
    }
}

submitBtn.addEventListener('click', (e)=>{
    e.preventDefault();
    if (validateForm()){
        // window.alert('Form sumbited without any error');
        pageForm.submit();
    }
    // else{
    //     window.alert('Form not submitted successfully');
    // }
})

</script>

{% endblock js %}