{% extends "admin/add_new_software.html" %}

{% block title %}Edit Software{% endblock title %}

{% block main %}

<h1>Edit {{item}}</h1>
    <form action="" method="post" enctype="multipart/form-data" id="form">
        <div class="mb-3">
            <label for="nameInput" class="form-label">{{item}} name</label>
            <input type="text" class="form-control requiredInput" id="nameInput" name="name" required value="{{sw.name}}">
        </div>
        
        <div class="mb-3">
            <label for="">Platforms available</label>
            {% for pf in all_db_platforms %}
            {% if item in pf.valid_for %}
                <div class="form-check form-switch m-1">
                    <input class="form-check-input platformInput" type="checkbox" role="switch"
                        id="flexSwitchCheckChecked" name="platform{{pf.name}}" myvalue="{{pf.name}}">
                    <label class="form-check-label" for="flexSwitchCheckChecked">{{pf.name}}</label>

                    <div class="mb-3" id="div-for{{pf.name}}" style="display: none;">
                        <label for="">For {{pf.name}}</label>
                        <div class="form-check form-switch m-1">
                            <input class="form-check-input forInput {{pf.name}}" type="checkbox" role="switch"
                                id="forInput{{pf.name}}" name="for{{pf.name}}" platform="{{pf.name}}">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Key</label>
                            <div class="mb-3" id="div-keyinputfor{{pf.name}}" style="display: none;" class="div-keyinputfor">

                                <div id="keyBoxContainer{{pf.name}}" class="keyBoxContainer">

                                </div>
                                
                                <label for="nameInput" class="form-label">Key for {{pf.name}}</label>
                                <input type="hidden" class="form-control" id="keyinputfor{{pf.name}}"
                                    name="keyfor{{pf.name}}" style="width: auto; display: inline;">
                                <input id="keyinputSmallfor{{pf.name}}" type="text" class="form-control" style="width: auto; display: inline;">
                                <button type="button" platform="{{pf.name}}" class="btn btn-primary addKeyBtn" kind="key">Add Key</button>


                                <div id="vBoxContainer{{pf.name}}" class="vBoxContainer">
                                </div>
                                <label for="nameInput" class="form-label">Version for {{pf.name}}</label>
                                <input type="hidden" class="form-control" id="vinputfor{{pf.name}}" name="vfor{{pf.name}}">
                                <input id="vinputSmallfor{{pf.name}}" type="text" class="form-control requiredInput mx-1" style="width: auto; display: inline;">
                                <button type="button" class="btn btn-primary addKeyBtn" platform="{{pf.name}}" kind="v">Add Version</button>
                            </div>
                        </div>
                        <div class="form-check form-switch m-1">
                            <input class="form-check-input forInputCrack {{pf.name}}" type="checkbox" role="switch"
                                id="forInputCrack{{pf.name}}" name="crackfor{{pf.name}}" platform="{{pf.name}}">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Crack</label>
                            <!-- <div class="mb-3" id="div-fileinputfor{{pf.name}}" style="display: none;">
                                <label for="formFile" class="form-label">Upload .zip file</label>
                                <input class="form-control requiredInput" type="file" id="fileinputfor{{pf.name}}"
                                    name="filefor{{pf.name}}">
                            </div> -->
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
        </div>

        <!-- <div id="for-container">

        <div class="mb-3" id="div-forWindows">
            <label for="">For Windows</label>
            <div class="form-check form-switch m-1">
                <input class="form-check-input forInput Windows" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked name="forWindows" platform="Windows">
                <label class="form-check-label" for="flexSwitchCheckChecked">Key</label>
                <div class="mb-3" id="div-keyinputforWindows">
                    <label for="nameInput" class="form-label">Key for Windows</label>
                    <input type="text" class="form-control requiredInput" id="keyinputforWindows" name="keyforWindows" required>
                </div>
            </div>
            <div class="form-check form-switch m-1">
                <input class="form-check-input forInputCrack Windows" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked name="crackforWindows" platform="Windows">
                <label class="form-check-label" for="flexSwitchCheckChecked">Crack</label>
                <div class="mb-3" id="div-fileinputforWindows" >
                    <label for="formFile" class="form-label">Upload .zip file</label>
                    <input class="form-control requiredInput" type="file" id="fileinputforWindows" name="fileforWindows">
                </div>
            </div>
        </div>

        <div class="mb-3" id="div-forAndroid" >
            <label for="">For Android</label>
            <div class="form-check form-switch m-1">
                <input class="form-check-input forInput Android" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked name="forAndroid" platform="Android">
                <label class="form-check-label" for="flexSwitchCheckChecked">Key</label>
                <div class="mb-3" id="div-keyinputforAndroid">
                    <label for="nameInput" class="form-label">Key for Android</label>
                    <input type="text" class="form-control requiredInput" id="keyinputforAndroid" name="keyforAndroid" required>
                </div>
            </div>
            <div class="form-check form-switch m-1">
                <input class="form-check-input forInputCrack Android" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked name="crackforAndroid" platform="Android">
                <label class="form-check-label" for="flexSwitchCheckChecked">Crack</label>
                <div class="mb-3" id="div-fileinputforAndroid" >
                    <label for="formFile" class="form-label">Upload .zip file</label>
                    <input class="form-control requiredInput" type="file" id="fileinputforAndroid" name="fileforAndroid">
                </div>
            </div>
        </div>

        <div class="mb-3" id="div-forMac" >
            <label for="">For Mac</label>
            <div class="form-check form-switch m-1">
                <input class="form-check-input forInput Mac" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked name="forMac" platform="Mac">
                <label class="form-check-label" for="flexSwitchCheckChecked">Key</label>
                <div class="mb-3" id="div-keyinputforMac">
                    <label for="nameInput" class="form-label">Key for Mac</label>
                    <input type="text" class="form-control requiredInput" id="keyinputforMac" name="keyforMac" required>
                </div>
            </div>
            <div class="form-check form-switch m-1">
                <input class="form-check-input forInputCrack Mac" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked name="crackforMac" platform="Mac">
                <label class="form-check-label" for="flexSwitchCheckChecked">Crack</label>
                <div class="mb-3" id="div-fileinputforMac" >
                    <label for="formFile" class="form-label">Upload .zip file</label>
                    <input class="form-control requiredInput" type="file" id="fileinputforMac" name="fileforMac">
                </div>
            </div>
        </div>

    </div> -->

        <div class="mb-3">
            <label for="iconInput" class="form-label">Icon Link</label>
            <input type="text" class="form-control requiredInput" id="iconInput" name="imgSrc" required value="{{sw.imgSrc}}">
        </div>
        <!-- <div class="mb-3">
            <label for="descInput" class="form-label">Description</label>
            <textarea class="form-control requiredInput" id="descInput" rows="3" name="desc">{{sw.desc}}</textarea>
        </div> -->
        <button id="submitBtn" type="button" class="btn btn-primary">Submit</button>
    </form>

{% endblock main %}

{% block js %}
<script>
    let checkedPlatfromInputs = {{getPlatformsText(sw) | safe}};
    let checkedFileInputs = {{getCracksText(sw) | safe}};
    let checkedKeyInputs = {{getKeysText(sw) | safe}};
    let checkedVersionsInputs = {{getVersionsText(sw) | safe}};

    platformInputs.forEach(element => {
        if (checkedPlatfromInputs.includes(element.getAttribute("myvalue"))) {
            element.checked = true;
            document.getElementById(`div-for${element.getAttribute("myvalue")}`).style.display = "block";
            if (Object.keys(checkedKeyInputs).includes(element.getAttribute("myvalue"))) {
                document.getElementById(`forInput${element.getAttribute("myvalue")}`).checked = true;
                document.getElementById(`div-keyinputfor${element.getAttribute("myvalue")}`).style.display = "block";
                // let number_of_keys = document.querySelectorAll(`#keyBoxContainer${element.getAttribute("myvalue")} div`).length;
                let keyTextList = checkedKeyInputs[element.getAttribute("myvalue")];
                let number_of_keys = keyTextList.length;
                if (number_of_keys < 1) {       
                    document.getElementById(`keyinputSmallfor${element.getAttribute("myvalue")}`).required = true;
                }
                // let keyBoxContainer_ID = `keyBoxContainer${element.getAttribute("myvalue")}`;
                keyTextList.forEach(keyText => {
                    addkey(keyText, element.getAttribute("myvalue"), "key");
                });
            }
            if (Object.keys(checkedVersionsInputs).includes(element.getAttribute("myvalue"))) {
                let keyTextList = checkedVersionsInputs[element.getAttribute("myvalue")];
                let number_of_keys = keyTextList.length;
                // if (number_of_keys < 1) {
                //     document.getElementById(`vinputSmallfor${element.getAttribute("myvalue")}`).required = true;
                // }
                keyTextList.forEach(keyText => {
                    addkey(keyText, element.getAttribute("myvalue"), "v");
                });
            }
            if (Object.values(checkedFileInputs).includes(element.getAttribute("myvalue"))) {
                document.getElementById(`forInputCrack${element.getAttribute("myvalue")}`).checked = true;
                // document.getElementById(`div-fileinputfor${element.getAttribute("myvalue")}`).style.display = "block";
                // document.getElementById(`fileinputfor${element.getAttribute("myvalue")}`).previousElementSibling.innerHTML = checkedFileInputs[element.getAttribute("myvalue")];
                // document.getElementById(`fileinputfor${element.getAttribute("myvalue")}`).required = true;
            }
        }
    });

    // for (const pf in checkedFileInputs) {
    //     if (checkedFileInputs[pf]) {
    //         document.getElementById(`fileinputfor${pf}`).previousElementSibling.innerHTML = checkedFileInputs[pf];      
    //     } else {
    //         // document.getElementById(`fileinputfor${pf}`).insertAdjacentHTML('beforebegin', "No Crack file detected. Choose a compressed file to upload");                 
    //         document.getElementById(`fileinputfor${pf}`).previousElementSibling.innerHTML =  "No Crack file detected. Choose a compressed file to upload";                 
    //     }
    // }

    
    // console.log(checkedKeyInputs)
    // for (const pf in checkedKeyInputs) {
    //     document.getElementById(`keyinputfor${pf}`).value = checkedKeyInputs[pf];
    // }
</script>
{% endblock js %}