{% extends 'base.html' %}

{% block title %}Log In - Admin{% endblock title %}

{% block desc %}Enter password to access admin pannel{% endblock desc %}

{% block css %}

<style>

main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 5vw;
}

.left{
    /* width: 50%; */
    display: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left img{
    width: 35vw;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
    row-gap: 5vh;
}

.right h1{
    font-size: 2.4rem;
}

form{
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 90%;
    border-radius: 8px;
}

form p{
    align-self: center;
}

form p span{
    color: gray;
}

form p a{
    color: blue;
    text-decoration: none;
}

.inputFieldWrapper{
    padding: 15px;
    display: flex;
    align-items: center;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    column-gap: 20px;
}

.inputFieldWrapper i{
    color: #1b1a6a;
}

.inputField{
    background: none;
    outline: none;
    border: none;
    width: 100%;
    color: black;
}

select.inputField option{
    color: black;
}

</style>

{% endblock css %}

{% block nav %}{% endblock nav %}

{% block header %}{% endblock header %}

{% block main %}

<main>
    <!-- <section class="left">
    
    <img src="/static/img/logos/Png/Influx global logo Final Files-07.png" alt="">

    </section> -->
    <section class="right">
    <!-- <h1 class="textCenter"> -->
    <!-- <a style="text-decoration: none;" href="/">InfluxGlobal.com</a> -->
    <!-- </h1> -->
    <h1 class="textCenter">Enter password to access admin pannel</h1>
        <form action="" method="post" id="loginForm">
            <!-- <div class="inputFieldWrapper">
                <i class="fa-solid fa-phone"></i>
                <input class="inputField inputFieldJs" type="tel" placeholder="Mobile Number with country code" required name="phone" id="phoneInput">
            </div> -->
            <!-- <div class="inputFieldWrapper">
                <i class="fa-solid fa-globe"></i>
                <select class="inputField" name="country" id="countryCodeSelector" required>
                    <option value="" class="selected" selected>Select your Country</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Bangladesh">Bangladesh</option>
                </select>
            </div> -->

            <!-- <div class="inputFieldWrapper">
                <i class="fa-solid fa-phone"></i>
                <input disabled id="phoneInput" class="inputField inputFieldJs" type="tel" placeholder="Mobile Number" required name="phone">
            </div> -->

            <div class="inputFieldWrapper">
                <i class="fa-solid fa-lock"></i>
                <input class="inputField inputFieldJs" type="password" placeholder="Password" required name="password" id="Pinput">
            </div>

            <!-- <div class="inputFieldWrapper">
                <i class="fa-solid fa-lock"></i>
                <input class="inputField inputFieldJs" type="password" placeholder="Confirm Password" required id="confirmPinput">
            </div> -->

            <!-- <div class="inputFieldWrapper">
                <i class="fa-solid fa-hashtag"></i>
                <input class="inputField inputFieldJs" type="text" placeholder="Referal Code" required id="referalCodeInput">
            </div> -->

            <a type="submit" class="btn btnNormal" id="submitBtn">Log In to Admin Pannel</a>
            <!-- <p><span>Not Registered? <a href="/register">Click Here to register yourself</a></span></p> -->
        </form>
    </section>
</main>

{% endblock main %}

{% block footer %}{% endblock footer %}

{% block js %}

<script>

let loginForm = document.getElementById('loginForm');
// let countryCodeSelector = document.getElementById('countryCodeSelector');

// let phoneInput = document.getElementById('phoneInput');
let passwordInput = document.getElementById('Pinput');

let submitBtn = document.getElementById('submitBtn');

let inputsList = [passwordInput]

function isAllFieldsFilled(){
    let response = true
    inputsList.forEach(inputElement => {
        if(!(inputElement.checkValidity())){
            console.log('1st if of isallfiledsfilled')
            inputElement.reportValidity();
            response = false
        }
    });
    return response
}

function validateForm(){
    if (isAllFieldsFilled()) {
        return true
    } else {
        return false
    }
}

submitBtn.addEventListener('click', (e)=>{
    e.preventDefault();
    if (validateForm()){
        loginForm.submit();
    }
    // else{
    //     window.alert('Form not submitted successfully');
    // }
})

</script>

{% endblock js %}