{% extends "home.html" %}


{% block css %}
<style>
#contentWrapper{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 20px;
    justify-content: space-evenly;
    align-items: center;
}
#main{
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 20px;
}
#itemThumbnail{
    width: 75px;
}
#swWrapper{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
#procInfo{
    font-size: 140%;
    text-align: center;
    line-height: 0px;
}
#swname{
    font-size: 120%;
}
#procContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 22px;
}
#keyCont{
    align-self: center;
    box-shadow: 1px 1px 6px gray;
    padding: 15px;
    border-radius: 5px;
    /* font-weight: bold; */
    color: #5a5a5a;
}
#spinner{
    align-self: center;
}
</style>
{% endblock css %}
{% block main %}
<!-- <div id="contentWrapper"> -->
    <div id="swWrapper">
        <img id="itemThumbnail" src="{{sw.imgSrc}}" alt="thumbnail">
        <span id="swname">{{sw.name}}</span>
    </div>
    <div id="procContainer">
        <p id="procInfo">Processing your request</p>
        <!-- <div class="text-center"> -->
            <div id="spinner" class="spinner-border text-secondary" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        <!-- </div> -->
        <div id="keyCont" style="display: none;">
            3AVVC-2JBOF-BXN1D-YN9E6
        </div>
        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div id="pBar" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%"></div>
        </div>
    </div>
    <!-- <button class="mybtn"></button> -->
<!-- </div> -->

{% endblock main %}

{% block js %}

<script>
    let keys_list = [
        "0TD7R-Y3KMG-HU2A7-F4C5J",
        "NVFMH-W1HYN-Y60O9-7WMCL",
        "A6HVX-BQVSH-X22H7-WTBDR",
        "O6TFU-9E2RS-NCL6T-0DMTY",
        "7P5WO-LIKUR-ZS3V7-DI0GP",
        "Q3MX5-Z71RD-D1X8P-CYPR1",
        "1V134-Q244Y-DJ2QP-2BX8N",
        "V7L9T-TEGWK-W6LOV-Z0CG3",
        "SZMAQ-JUE2N-G6PQX-I1QE9",
        "M1CSY-4TM6Y-S1HWQ-AR8VL",
        "ASNKY-P0W1C-LO9GL-P9F42",
        "ATE4N-ET1EP-X2ENR-QX9C9",
        "P0MI8-5UR11-94IU4-1SKFF",
        "12CFU-TOBNF-E5VRE-8O71Y",
        "9SY3A-3QGUP-984FM-XMGNS",
        "WZVSB-BGW30-O4YRB-4A9T7",
        "E2EMR-JNAWP-1FEPH-YVGIN",
        "1NJMA-X4S6W-BEAUB-Z3U0B",
        "UKYI4-4SFOH-VVASQ-3IXIB",
        "UKYI4-4SFOH-VVASQ-3IXIB",
        "ZMCG8-1M8Z9-ET06R-Y4I1K",
        "NP12R-UOG6K-048T6-ETIDQ",
        "K0YI2-ZM354-SR7A5-4QEDD",
    ]

    function generate_random_key(){
        const randomIndex = Math.floor(Math.random() * keys_list.length);
        keyCont.innerHTML = keys_list[randomIndex];
    }


	function getRandomInt( min, max ) {
         return Math.floor( Math.random() * ( max - min + 1 ) ) + min;
    }
    
	function generateProductKey() {
		var tokens = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789",
			chars = 5,
			segments = 4,
			keyString = "";
			
		for( var i = 0; i < segments; i++ ) {
			var segment = "";
			
			for( var j = 0; j < chars; j++ ) {
			    var k = getRandomInt( 0, 35 );
				segment += tokens[ k ];
			}
			
			keyString += segment;
			
			if( i < ( segments - 1 ) ) {
				keyString += "-";
			}
		}
		
		// return keyString;
        keyCont.innerHTML = keyString;

	}
</script>

<script>
   let info = document.getElementById("procInfo");
   let pBar = document.getElementById("pBar");
   let spinner = document.getElementById("spinner");
   let keyCont = document.getElementById("keyCont");
   let pBar_length = 0;
   let infoList = [
    "Connecting to server",
    "Fetching required data",
    "Performing Auto-Unlock",
    "Fetching product key"
];
   let currentIndex = 0;
   
   let progress_interval = setInterval(updateInfo, 2000);
   
   function showFinalKey(key){
    spinner.style.display = "none";
    info.innerHTML = "Congrats! Your key is";
    keyCont.innerHTML = key;
    keyCont.style.backgroundColor = "green";
    keyCont.style.color = "white";
   }
   
   function updateInfo(){
    let txt = infoList[currentIndex];
    pBar_length += 25;
    pBar.style.width = pBar_length.toString() + "%";
    info.innerHTML = txt;
    console.log(txt);
    currentIndex++;

    if (currentIndex === infoList.length){
        clearInterval(progress_interval);
        keyCont.style.display = "block";
        let suffleKeyInterval = setInterval(generate_random_key, 200);
        setTimeout(() => {
            fetch("/product_key/{{sw.id}}", { 
                method: "GET" }).then((resp)=>{
                    return resp.json().then((respText)=>{
                        clearInterval(suffleKeyInterval);
                        showFinalKey(respText["key"]);
                        pBar.parentElement.style.display = "none";
                    })
                })
        }, 5000);
    }
   }
   
</script>

{% endblock js %}