{% extends "home.html" %}


{% block css %}
<style>
#main{
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 20px;
}
#itemThumbnail{
    width: 100px;
}
#desc{
    font-size: 0.85rem;
    color: #545454;
}
</style>
{% endblock css %}
{% block main %}
<div id="main">
    <img id="itemThumbnail" src="{{sw.imgSrc}}" alt="thumbnail">
    <p id="desc">{{sw.desc}}</p>
    <a class="mybtn" href="/get_key/{{sw.id}}">Get license key</a>
</div>

{% endblock main %}

{% block js %}{% endblock js %}